# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

src/generated/resources/.cache/*
assets-src/
art-review/
*.md
!README.md
!CHANGELOG.md
!LICENSE.md

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
*.log

.vscode/
assets-src/art/__pycache__/

tools/
!src/generated/resources/data/*/tags/**/tools/
